body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: auto;
    background: url('images/gophergolf.jpg') fixed;
    background-size: cover;
    position: relative;
    clear: both;
    margin: 0 auto;
    min-height: 900px;
    color: black;
}

#playerName {
    display: none;
}

.table-striped {
    font-size: 12px;
    vertical-align: middle;
    background-color: rgba(228, 132, 6, 0.6);
}

.modalbackground {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

#goButton:hover {
 background-color: #515151;

}

#setupmodal {
 width: 600px;
 margin: 0 auto;
 height: auto;
 padding: 25px;
 border-radius: 4px;
 background-color: transparent;

}

#golfBanner {
    width: 100%;
    height: auto;
    background: url('images/gophergolf.jpg') no-repeat fixed;
    background-size: cover;
    background-position: 50% 35%;
    margin: 25px auto;
    clear: both;
    position: relative;
    min-height: 200px;
    display: none;
    color: #0b0de8;

}

#cardLeft {
    border-radius: 4px;
    padding: 10px;
    float: left;
    color: whitesmoke;
}

#cardRight {
    width: auto;
    display: flex;
    padding: 10px;
}

#container{
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#weather {
    width: 500px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
}

#weather h2 {
    margin: 0 0 8px;
    color: #f5140a;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

#weather ul {
    margin: 0;
    padding: 0;
}

#weather li {

    padding: 8px;
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
}

#weather .currently {
    margin: 0 20px;
}